.nav {
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.nav a {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.7s;
}

.nav a:hover {
  border-bottom: 4px solid cornflowerblue;
}
